<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historial de Usuarios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-flaty.min.css">
    <!-- <link rel="stylesheet" href="<?php echo base_url(); ?>assets/admin/css/home.css?v=1.4"> 
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/admin/css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/historico.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="btn-historial_admin"><h6>Historial Usuarios</h6><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="btn-crear"><h6>Crear Nuevo Usuario</h6><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <button class="btn btn-light btn-logout" id="btn-cerrar"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</button>
  </nav>

  <br>
  <br>
    <div class="container">
    <div class="container" id="historico">
    <div class="row">
      <div class="col-md-8">
        <h2>Historial de Usuarios</h2>
      </div>
    </div>
    <br>
          <div dir="ltr" class="row">
            <div class="col-md-12">
              <!-- <div class="col-md-12"> -->
                <div id="scroll2" class="overflow-panel sticky-table sticky-ltr-cells">
                <table class="table table-striped wide-load">
                          <thead>
                            <tr class="sticky-header" style="text-align: center">
                              <!-- <th style="vertical-align: text-top;">Todo<div class="form-check">
                                    <input class="form-check-input todo" type="checkbox" value="">
                                  </div>
                              </th> -->
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Identificación</th>
                              <th>Username</th>
                              <th>Rol</th>
                              <th></th>
                              <!-- <th>Confirmado</th> -->
                          </thead>
                            <tbody class="lista">
                              {% for user in users %}
                              <tr>
                                  <td style="text-align: center">{{ user.name_ }}</td>
                                  <td style="text-align: center">{{ user.lastname }}</td>
                                  <td style="text-align: center">{{ user.id_medico }}</td>
                                  <td style="text-align: center">{{ user.nombre }}</td>
                                  <td style="text-align: center">{{ user.rol }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                  </div>
              <!-- </div> -->
          </div>
    </div>

    </div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script src="<?php echo base_url(); ?>assets/admin/js/historicoruta.js?v=<?php echo time(); ?>"></script> -->
    <script src="../static/js/main_historico.js"></script>
    <script src="../static/js/main.js"></script>
</footer>
</html>